@model BackOnTrack.GUI.Models.SleepResult.SleepResultViewModelIndex

<p>
    Average time slept in the last seven days: <br />@Model.AverageTimeSlept hours
</p>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Hours Slept
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AllResults) {
        <tr>
            <td>
                @item.TimeSlept <span>Hours slept</span>
            </td>
            <td>
                @item.Date.ToString("dddd | dd/M/yyyy")
            </td>
            <td>
                 <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Edit</a>
                 <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Details</a>
                 <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section scripts {
    <script>
        function confirmDelete() {
            var confirmDelete = confirm("Are you sure you want to delete this item?");
            return confirmDelete;
        }
    </script>
    <script>
        $(document).ready(function () {
            var successNotification = '@TempData["SuccessfullCreationNotification"]';

            if (successNotification) {
                toastr.success(successNotification, "Successfull Creation");
            }
        });
        $(document).ready(function () {
            var DeletionNotification = '@TempData["SuccesDeletion"]';

            if (DeletionNotification) {
                toastr.success(DeletionNotification, "Succesfull Deletion");
            }
        });
        $(document).ready(function () {
            var successNotification = '@TempData["SuccessEditNotification"]';

            if (successNotification) {
                toastr.success(successNotification, "Successfull Edit");
            }
        });
    </script>
}